<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Cambridge Note - Password Reset</title>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" rel="stylesheet">
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
{% extends "base.html" %}

{% block header %}

    <div class='jumbotron'>

        <h1>Forgot Password</h1> 

    </div>

{% endblock header %}

{% block content %}

    <form method="POST">

    {% csrf_token %}

    {{form.as_p}}  

    {% if msg %}
        {{msg}}<br><br>
    {% endif %} 

    <button name="submit" class="btn btn-primary">Send Email</button> <a href="{% url 'login'%}" class="btn btn-primary">Go Back To Login</a>

    </form>
{% endblock %}
