<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cambridge Note - Home</title>
  </head>
{% extends "base.html" %}
{% block header %}

    <div class='jumbotron'>

        <h1>Make Your Notes...</h1> 

    </div>

{% endblock header %}

{% block content %}

    <h2>With Cambridge Note, Make Your Notes and add topics you want to save in your account.<br>
    
    <br>Whenever you have something to note, add the topic and entry then enjoy our secured and efficient site for your notes.</h2>

{% endblock%}